
.App {
  color: rgb(43, 43, 43);
}

.App-header {
  background-color: #465472;
  color: rgb(103, 220, 228);
  padding: 10px 15px;
}

.logo {
  color: rgb(103, 220, 228);
  font-weight: 700;
  font-size: 24px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
